body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
}

.hero{
padding:60px;
background:#020617;
}

.profile{
display:flex;
align-items:center;
gap:30px;
}

.profile-img{
width:150px;
border-radius:50%;
}

.btn{
background:#3b82f6;
padding:10px 20px;
color:white;
text-decoration:none;
border-radius:6px;
}

.portfolio{
padding:60px;
}

.project{
margin-bottom:60px;
}

.slider{
display:flex;
overflow-x:auto;
gap:20px;
}

.slider img{
width:350px;
border-radius:10px;
}
